<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<form action="add" method="post" th:action="@{/ToDoEntity/save}"
		th:object="${ToDoEntity}">


		<br /> title: <input type="text" name="taskName"
			th:field="*{taskName}" /> <br /> priority :<select
			th:field="*{priority}">
			<option th:each="type : ${allTypes}" th:value="${type}"
				th:text="${type}">types</option>
		</select> <br />
		<button class="btn-info" type="submit">submit</button>
	</form>


</body>
</html>

